<!-- <div class="buy_token"> -->
  <!-- <div class="services-section common section-title title col-md-12"> -->
    <!-- <h1 class="text-center">
      <%= __('purchase-request') %>
    </h1> -->
  <!-- </div> -->
  <div class="buy_token_card">
    <div class="buy_token_tabs" :class="[formData.currencyToBePaid == 'BTC' ? 'btc_bg_color' : 'eth_bg_color']">
      <span class="tab" @click="selectBTC()" :class="[ formData.currencyToBePaid == 'BTC' ? '_active' : '']">BTC</span>
        <!-- <input type="radio" name="currencyToBePaid" v-bind:value="currencyBTC" id="currency_btc" autocomplete="off"> BTC -->
      <span class="tab" @click="selectETH()" :class="[ formData.currencyToBePaid == 'ETH' ? '_active' : '']">
        ETH
        <!-- <input type="radio" name="currencyToBePaid" v-bind:value="currencyETH" id="currency_eth" autocomplete="off"> ETH -->
      </span>
    </div>
    <div class="buy_token_card_content">
      <ajax-form action="purchaseRequest" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
    
        <div class="form-group">
          <label class="form-label" for="amount-to-be-paid">
            <%= __('currency1-label') %>
              <span> {{ formData.currencyToBePaid }}</span>
          </label>
          <input class="form-control form-input"  autocomplete="off" id="amount-to-be-paid" name="amount-to-be-paid" :class="[formErrors.amountToBePaid ? 'is-invalid' : '']"
            v-model.trim="formData.amountToBePaid" placeholder="999.99" focus-first>
          <div class="invalid-feedback form-error" v-if="formErrors.amountToBePaid">
            <%= __('currency1-required') %>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label" for="smc-purchased">
            <%= __('dora-coin-label') %>
          </label>
          <input class="form-control form-input" autocomplete="off" id="smc-purchased" name="smc-purchased" :class="[formErrors.smcPurchased ? 'is-invalid' : '']"
            v-model.trim="formData.smcPurchased" placeholder="999.99">
          <div class="invalid-feedback form-error" v-if="formErrors.smcPurchased">
            <%= __('dora-coin-required') %>
          </div>
        </div>
        <p class="text-danger" v-if="cloudError === 'invalidAmountInput'">
          <small>
            <%- __('error.invalidAmountInput') %>
          </small>
        </p>
        <p class="text-danger" v-if="cloudError">
          <small>
            <%- __('error.systemerror') %>
          </small>
        </p>

        <div class="text-right">
          <button type="submit" :syncing="syncing" class="submit-large-button phone-submit-button" :class="[formData.currencyToBePaid == 'BTC' ? 'btc_bg_color' : 'eth_bg_color']">
            <%= __('submit') %>
          </button>
        </div>
      </ajax-form>
    </div>
    
  </div>
  <!--col-md-10-->
<!-- </div> -->
<!--row-->

<div class="row mb-3 position-relative" v-if="itemTotalRow > 0" :syncing.sync="syncing" :handle-parsing="handleParsingForm">
  <div class="services-section common section-title title col-md">
    <div class="dark-heading-font mb-20">
      There are
      <span>{{itemTotalRow}}</span>
      transactions
    </div>
  </div>

  <table class="table pc_table">
    <caption>
      <%= __('table-caption') %>
    </caption>
    <thead>
      <tr class="dark-heading-font">
        <th scope="col">
          <%= __('status') %>
        </th>
        <th scope="col">
          <%= __('date') %>
        </th>
        <th scope="col">
          <%= __('transaction-id') %>
        </th>
        <th scope="col" class="text-right">
          <%= __('price') %>
        </th>
        <th class="text-right" scope="col">
          <%= __('currency') %>
        </th>
        <th class="text-right" scope="col">
          <%= __('dora-coin-abbr') %>
        </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item in itemDatas">
        <td scope="row">
            {{ item.resultStatus < 0 ? "<%= __('cancelled') %>" :
            item.resultStatus > 0 ? "<%= __('success') %>" :
            "<%= __('pending') %>" }}
        </td>
        <td>{{ item.createdAtModified }}</td>
        <td>{{ item.resultTxnId }}</td>
        <td class="text-right">{{ item.resultAmount }}</td>
        <td class="text-right">{{ item.currency1 }}</td>
        <td class="text-right">
          <span>{{ item.smcAmount }}</span>
        </td>
        <td class="event_td">
          <a href="#" class="img">
            <img @click="clickOpenPaymentModalIcon(item, $event)" src="/images/edit/icon_Refresh_3x.png"></img>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table phone_table">
      <caption>
        <%= __('table-caption') %>
      </caption>
      <thead>
        <tr class="dark-heading-font">
          <th scope="col">
            <div><%= __('status') %></div>
            <div><%= __('date') %></div>
          </th>
          <th scope="col">
            <div><%= __('transaction-id') %></div>
            <div><%= __('price') %></div>
          </th>
          <th class="text-right" scope="col">
            <div><%= __('currency') %></div>
            <div><%= __('dora-coin-abbr') %></div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in itemDatas">
          <td scope="row">
            <div>
              {{ item.resultStatus < 0 ? "<%= __('cancelled') %>" :
              item.resultStatus > 0 ? "<%= __('success') %>" :
              "<%= __('pending') %>" }}
            </div>
            <div>
                {{ item.createdAtModified }}
            </div>
          </td>
          <td>
            <div class="resultTxnId">{{ item.resultTxnId }}</div>
            <div>{{ item.resultAmount }}</div>
          </td>
          <td>
            <div class="text-right">
              <div>{{ item.currency1 }}</div>
              <div class="smcAmount">{{ item.smcAmount }}</div>
            </div>
          </td>
          <td class="event_td">
            <a href="#" class="img">
              <img @click="clickOpenPaymentModalIcon(item, $event)" src="/images/edit/icon_Refresh_3x.png"></img>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

  <b-pagination class="bg-dark mx-auto" size="md" @change="clickPageNumber($event)" v-model="currentPage" :per-page=pagePerCount
    :total-rows=itemTotalRow>
  </b-pagination>


</div>
<!--row-->

<modal class="modal fade" v-if="paymentModalVisible" @close="closePaymentModal()" v-cloak>
  <div class="modal-header">
    <div class="modal-title small-title dark-smail-title-font ">
      <%= __('payment') %>
    </div>
    <!-- <p>At your leisure, please peruse this excerpt from a whale of a tale.</p> -->
    <hr/>
    <button type="button" class="modal-close-button mr20" data-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="small_title_font">
      <%= __('transaction-id') %>
    </div>
    <p id="transaction_id" class="modal_content" style="margin-top: 0px;">{{ transactionId }}</p>
    <div class="small_title_font">
      <%= __('amount') %>
    </div>
    <p id="amount" class="modal_content" style="margin-top: 0px;">{{ amount }}</p>
    <div class="small_title_font">
      <%= __('address') %>
    </div>
    <p id="address" class="modal_content"  style="margin-top: 0px;">{{ address }}</p>
    <div class="small_title_font">
      <%= __('status-url') %>
    </div>
    <p id="status_url" class="modal_content" class="text-justify" style="margin-top: 0px;">{{ statusUrl }}</p>
    <img style="margin-top: 0px;" :src="qrcodeUrl" />
    <div class="small_title_font" style="text-align: center">
      <%= __('qr-code') %>
    </div>
  </div>
  <div class="modal-footer flex-row-reverse justify-content-between">
    <button type="button" data-dismiss="modal" class="small-button">
      <%= __('cancel') %>
    </button>
  </div>
</modal>