<div class="forget_pass">
  <div id="forgot-password" v-cloak>
    <div class="sign_up" v-if="!cloudSuccess">
      <div class="sign_content">
        <ajax-form action="sendPasswordRecoveryEmail" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()"
          :handle-parsing="handleParsingForm">
          <div class="large-title small-title">
            <%- __('recover-password') %>
          </div>

          <div class="body-small-font to_login">
            <%- __('forget-password-message') %>
          </div>
          <div class="form-group">
            <input type="email" name="email-address" autocomplete="off" class="form-control form-input" placeholder="sturgeon@example.com" :class="[formErrors.emailAddress ? 'is-invalid' : '']"
              v-model.trim="formData.emailAddress" focus-first>
            <div class="form-error" v-if="formErrors.emailAddress">
              <%- __('enter-a-valid-email-address') %>
            </div>
          </div>
          <div>
            <div class="text-danger" v-if="cloudError">
                <%- __('error.systemerror') %>
            </div>
          </div>
          <div class="light-forget-font to_login ">
            <a href="../login " class="link-color">
              <%- __('back-to-login') %>
            </a>
          </div>
          <div class="submit">
            <button type="submit" :syncing="syncing" class="submit-large-button phone-submit-button">
              <%- __('send-reset-link') %>
            </button>
          </div>
        </ajax-form>
      </div>
    </div>

    <div class="guide_page" v-if="cloudSuccess">
      <div class="guide_content text-center">
        <img class="guide_icon" src="/images/sign/icon_email.png" alt="">
        <p class="dark-body-font guide_p">
          <%- __('sent-update-link') %>
          <br>
            <%- __('notice-check-spam') %>
        </p>
        <div class="guide_button">
          <a class="large-button phone-button" href="/login">
            <%- __('back-to-login') %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>