 <div id="login" v-cloak>
    <div class="login">
      <div class="sentrance_page_content">
        <ajax-form action="login" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
          <div class="large-title small-title"><%= __('sign-in') %></div>
          <div class="phone_forgot">
            <a class="forget_password link-color" href="/password/forgot"><%= __('forget-your-password') %></a>
          </div>
          <div class="form-group">
            <label class="form-label"><%= __('email') %></label>
            <input type="email" class="form-control form-input" autocomplete="new-password" placeholder=<%= __('email-example') %> :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" focus-first>
            <div class="form-error" v-if="formErrors.emailAddress"><%= __('login.error.emailaddress') %></div>
          </div>
          <div class="form-group">
            <label class="form-label"><%= __('password') %></label>
            <input type="password" class="form-control form-input" autocomplete="off" :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password">
            <div class="form-error">
              <div v-if="formErrors.password"><%= __('login.error.password') %></div>
              <div v-if="cloudError==='badCombo'"><%= __('login.error.account') %></div>
              <div v-else-if="cloudError"><%- __('error.systemerror') %></div>
            </div>
          </div>
      
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
              <input type="checkbox" id="remember" name="rememberMe" v-model="formData.rememberMe"/>
              <label for="remember" class="body-small-font cehckbox_label"><%= __('remember-me') %></label>
            </div>
            <div class="pc_forgot"><a class="forgot_password link-color" href="/password/forgot"><%= __('forget-your-password') %></a></div>
          </div>
          <div class="submit text-right">
            <button class="submit-large-button phone-submit-button login_button">
                <%= __('sign-in') %>
            </button>
          </div>
        </ajax-form>
      </div>
      
    </div>
  </div>


<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
