<div id="signup" v-cloak>
  <div class="sign_up">
    <div class="sentrance_page_content" v-if="!cloudSuccess">
      <ajax-form action="signup" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
        <div class="small-title large-title"><%= __('create-an-account') %></div>
        <div class="body-small-font to_login">
            <%= __('you-already-have-an-account') %>
          <a class="link-color" href="/login"><%=__('common.menu.login')%></a>
        </div>
        <div class="form-group">
          <label class="form-label">
            <%= __('nick-name') %>
          </label>
          <input class="form-control form-input" autocomplete="off" id="nick-name" type="text"  :class="[formErrors.fullName ? 'is-invalid' : '']" v-model.trim="formData.fullName" placeholder=<%= __('nick-name') %> focus-first>
          <div class="form-error" v-if="formErrors.fullName">
            <%= __('enter-your-full-name') %>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label class="form-label" for="email-address"><%= __('email') %> </label>
              <input class="form-control form-input" autocomplete="off" id="email-address" type="email"  :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" placeholder=<%= __('email-example') %>>
              <div class="form-error" v-if="formErrors.emailAddress"><%= __('enter-a-valid-email-address') %></div>
            </div>
            <div class="form-group">
              <label class="form-label" for="password"><%= __('password') %></label>
              <input class="form-control form-input" autocomplete="off" id="password" type="password"  :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password">
              <div class="form-error" v-if="formErrors.password"><%=__('enter-password') %></div>
            </div>
          </div>
          <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="form-label" for="referral-email"><%= __('referral-email') %></label>
                <input class="form-control form-input" autocomplete="off" id="referral-email" type="email"  :class="[formErrors.referralEmailAddress ? 'is-invalid' : '']" v-model.trim="formData.referralEmailAddress" >
              </div>
              <div class="form-group">
                <label class="form-label" for="confirm-password"><%= __('confirm-password') %></label>
                <input class="form-control form-input" autocomplete="off" id="confirm-password" type="password"  :class="[formErrors.confirmPassword ? 'is-invalid' : '']" v-model.trim="formData.confirmPassword" >
                <div class="form-error" v-if="formErrors.confirmPassword"><%=__('password-do-not-match') %></div>
              </div>
          </div>
        </div>
        
        <div class="form-check-label">
          <label for="terms-agreement" class="d-flex align-items-center" :class="[formErrors.agreed ? 'text-danger' : '']">
            <input id="terms-agreement" type="checkbox" v-model="formData.agreed"><%- __('agree-term-service') %>
          </label>
          <div class="user_exist_notes">
            <div class="text-danger" v-if="cloudError==='emailAlreadyInUse'"><%= __('forget-password-recover') %>  <a href="password/forgot"><%= __('here') %></a>.</div>
            <div class="text-danger" v-else-if="cloudError"><%- __('error.systemerror') %></div>
          </div>
        </div>
        <div class="home_botton submit text-right">
          <button class="submit-large-button phone-submit-button sign_up_btn">
            <%= __('create-an-account') %>
          </button>
        </div>
      </form>
    </div>


    <!-- <div class="sign_content no_confirm" v-if="cloudSuccess">
      <div class="email_img text-center">
        <img class="reg_success_img" src="/images/sign/icon_email.png" alt="">
        <p class="dark-thinks-font"><%= __('thanks-for-register') %></p>
      </div>
      <div class="dark-body-font"><%= __('not-complete-registration') %></div>
    </div> -->

    <div class="guide_content text-center" v-if="cloudSuccess">
      <img class="guide_icon" src="/images/sign/icon_email_2x.png" alt="">
      <p class="dark-thinks-font guide_heading">
          <%= __('thanks-for-register') %>
      </p>
      <p class="dark-body-font guide_p"><%= __('not-complete-registration') %></p>
    </div>
  </div>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
