
<div class="section ps-timeline-sec flat-color6"  data-menuanchor="roadmap">
        <!-- <section class="about-section" id="about"> -->
        <div class="container">
            <div class="commen-containe">
                <div class="row">
                    <div class="col-sm-11 offset-md-1">
                        <div class="about-section common section-title title">
                            <h1 class="text-center"><%- __('common.menu.roadmap') %></h1>
                            <ol class="ps-timeline">
                                    <li>
                                        <div class="img-handler-top">
                                            <p><%- __('roadmap-1') %></p>
                                        </div>
                                        <span class="ps-sp-top">01</span>
                                    </li>
                                    <li>
                                        <div class="img-handler-bot">
                                            <p><%- __('roadmap-2') %> </p>
                                        </div>
                                        <span class="ps-sp-bot">02</span>
                                    </li>
                                    <li>
                                        <div class="img-handler-top">
                                            <!-- <img src="http://www.physology.co.uk/wp-content/uploads/2016/02/ps-elem_05.png" alt=""/> -->
                                            <p><%- __('roadmap-3') %></p>
                                        </div>
                                        <span class="ps-sp-top">03</span>
                                    </li>
                                    <li>
                                        <div class="img-handler-bot">
                                            <p> <%- __('roadmap-4') %> </p>
                                        </div>
                                        <span class="ps-sp-bot">04</span>
                                    </li>


                                    <li>
                                        <div class="img-handler-top">
                                            <p> <%- __('roadmap-5') %> </p>
                                        </div>
                                        <span class="ps-sp-top">05</span>
                                    </li>
                                    <li>
                                        <div class="img-handler-bot">
                                            <p> <%- __('roadmap-6') %> </p>
                                        </div>
                                        <span class="ps-sp-bot">06</span>
                                    </li>
                                    <li>
                                        <div class="img-handler-top">
                                            <p><%- __('roadmap-7') %></p>
                                        </div>
                                        <span class="ps-sp-top">07</span>
                                    </li>
                                    <li>
                                        <div class="img-handler-bot">
                                            <p> <%- __('roadmap-8') %> </p>
                                        </div>
                                        <span class="ps-sp-bot">08</span>
                                    </li>
                                    <li>
                                        <div class="img-handler-top">
                                            <p><%- __('roadmap-9') %> </p>
                                        </div>
                                        <span class="ps-sp-top">09</span>
                                    </li>           
                        
                                </ol>

                            
                    </div>
                </div><!-- end of /.coloumn -->
            </div><!-- End row -->
        </div><!-- End commen-containe --> 
    </div><!-- End container -->
</div><!-- End section -->
