
<div class="section about flat-color5"  data-menuanchor="schedule">
    <!-- <section class="about-section" id="about"> -->
    <div class="container">
        <div class="commen-containe">
            <div class="row">
                <div class="col-sm-11 offset-md-1">
                    <div class="about-section common section-title title hp_block">
                        <h1 class="text-center"><%= __('schedule') %></h1>
                        
                        <ul class="timeline">
                            <li>
                                <div class="timeline-badge info">
                                    <i class="glyphicon glyphicon-time"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title"><%= __('phase1') %> <span class="badge badge-warning"><%= __('phase1-bonus') %></span></h4>
                                        <!-- <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> August 2011</small></p> -->
                                    </div>
                                    <div class="timeline-body"> <%= __('phase1-time') %></div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge warning">
                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title"><%= __('phase2') %> <span class="badge badge-primary"><%= __('phase2-bonus') %></span>
                                        </h4>
                                    </div>
                                    <div class="timeline-body"><%= __('phase2-time') %></div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge danger">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title"><%= __('phase3') %> <span class="badge badge-success"><%= __('phase3-bonus') %></span></h4>
                                        <!-- 
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 3 years ago</small></p> -->
                                    </div>
                                    <div class="timeline-body"><%= __('phase3-time') %></div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge default">
                                    <i class="glyphicon glyphicon-home"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title"><%= __('phase4') %> <span class="badge badge-secondary"><%= __('phase4-bonus') %></span></h4>
                                    </div>
                                    <div class="timeline-body"><%= __('phase4-time') %></div>
                                </div>
                            </li>
                        </ul>
                        
                        
                    </div>
                </div><!-- end of /.coloumn -->
            </div><!-- End row -->
        </div><!-- End commen-containe --> 
    </div><!-- End container -->
</div><!-- End section -->

        
