<section id="homepage" v-cloak data-menuanchor="home">
  <div class="home_pc">
    <div class="home_page1">
      <div class="home_page_content">
        <div class="light-title-font"><%= __('home-big-title') %></div>
        <div class="home_notice light-title-down-font"><%= __('home-small-title') %></div>
        <div class="home_botton light-botton-font">
          <div>
            <a class="home_white" href="/pdfs/<%= __('whitepaper-pdf') %>.pdf">
                <%= __('common.menu.white-paper') %>
            </a>
            <a class="home_how" href="/pdfs/<%= __('howtobuy-pdf') %>.pdf">
                <%= __('common.menu.how-to-buy') %>
            </a>
            <a class="home_get" href="/signup">
                <%= __('common.menu.signup') %>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="home_pc_content">
      <div class="home_page2">
        <div class="token_bg">
          <div class="token_content">
            <div class="large-title"><%= __('token-sale-ended') %></div>
            <div class="body-small-font"><%= __('token-sale-ended-info') %><br><%= __('token-sale-ended-info-1') %></div>
          </div>
        </div>
      </div>
      <div class="home_page3">
        <div class="dora_left">
          <img src="/images/home/dora_img.png" alt="">
        </div>
        <div class="dora_right">
          <div class="large-title"><%= __('common.menu.whatisdora') %></div>
          <div class="body-small-font"><%= __('whatisdora-detail') %><br><%= __('whatisdora-detail-1') %></div>
        </div>
      </div>
      <div class="home_page4">
        <div class="purpose_bg">
          <div class="purpose_img">
            <img src="/images/home/purpose_ico_2x.png" alt="">
          </div>
          <div class="purpose_content">
            <div class="large-title"><%= __('home.purpose.title') %></div>
            <div class="body-small-font">
              <%= __('purpose-detail') %><br>
              <%= __('purpose-detail-1') %><br><br>
              <%= __('purpose-detail-2') %><br>
              <%= __('purpose-detail-3') %><br>
              <%= __('purpose-detail-4') %><br>
              <%= __('purpose-detail-5') %>
            </div>
          </div>
        </div>
      </div>
      <div class="home_page5">
        <div class="information_bg">
          <div class="information_left">
            <pie-chart></pie-chart>
          </div>
          <div class="information_right">
            <div class="large-title"><%= __('token-info') %></div>
            
            <div class="dark-heading-font token_price"><%= __('token-price') %></div>
            <div class="minmun body-small-font">
              <span style="margin-bottom: 9px;"><%= __('dor-btc') %></span>
              <br> (<%= __('min-purchase') %>)
            </div>
            <div class="body-small-font">
              <span style="margin-bottom: 9px;"><%= __('dor-eth') %></span>
              <br> (<%= __('min-purchase-eth') %>)
            </div>
            <div class="dark-heading-font token_price"><%= __('amount') %></div>
            <div class="body-small-font">
              <span style="margin-bottom: 9px;margin-right: 35px;"><%= __('token-sale') %></span>
              <br>
              <span style="margin-right: 6px;"><%= __('token-issued') %></span>
            </div>
          </div>
        </div>
      </div>
      <div class="home_page6 home_ico">
        <div class="ico_data">
          <div class="large-title"><%= __('home.ico.date') %></div>
          <img class="home_page6_img" src="/images/home/table_ico_en_2x.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="home_phone">
    <div class="home_phone_section phone_banner">
      <img src="/images/home/bg_banner_3x.png" alt="">
      <div class="home_phone_text phone_banner_content text-center">
        <div class="light-title-font phone_banner_topic mb-20"><%= __('home-big-title') %></div>
        <div class="lighter-min-font phone_notice"><%= __('home-small-title') %></div>
        <div class="mb-10"><a class="home_phone_button home_white" href="/pdfs/<%= __('whitepaper-pdf') %>.pdf"><%= __('common.menu.white-paper') %></a></div>
        <div class="mb-10"><a class="home_phone_button home_how" href="/pdfs/<%= __('howtobuy-pdf') %>.pdf"><%= __('common.menu.how-to-buy') %></a></div>
        <div class="mb-10"><a class="home_phone_button home_get" href="/login"><%= __('common.menu.signup') %></a></div>
      </div>
    </div>
    <div class="home_phone_section phone_sale">
      <!-- <img src="/images/home/bg_The_token_sale_3x.png" alt=""> -->
      <div class="home_phone_text phone_sale_content">
        <div class="small-title"><%= __('token-sale-ended') %></div>
        <p class="lighter-min-font phone-p"><%= __('token-sale-ended-info') %><br><%= __('token-sale-ended-info-1') %></p>
      </div>
    </div>
    <div class="home_phone_section phone_what">
      <!-- <img style="height: 720px;" src="/images/home/bg_WHAT_IS_DORA_3x.png" alt=""> -->
      <div class="home_phone_text phone_what_content">
        <div class="small-title"><%= __('common.menu.whatisdora') %></div>
        <p class="lighter-min-font phone-p"><%= __('whatisdora-detail') %><br><%= __('whatisdora-detail-1') %></p>
      </div>
    </div>
    <div class="home_phone_section phone_purpose">
      <!-- <img src="/images/home/bg_The_purpose_of_ICO_3x.png" alt=""> -->
      <div class="home_phone_text phone_purpose_content">
        <div class="phone_purpose_img"><img src="/images/home/purpose.png" alt=""></div>
        <div class="small-title"><%= __('home.purpose.title') %></div>
        <p class="lighter-min-font phone-p">
          <%= __('purpose-detail') %><br>
          <%= __('purpose-detail-1') %><br><br>
          <%= __('purpose-detail-2') %><br>
          <%= __('purpose-detail-3') %><br>
          <%= __('purpose-detail-4') %><br>
          <%= __('purpose-detail-5') %></p>
      </div>
    </div>
    <div class="home_phone_section phone_token">
      <!-- <img class="token_bg_img" src="/images/home/bg_Token_information_3x.png" alt=""> -->
      <div class="home_phone_text phone_token_content">
        <div class="small-title"><%= __('token-info') %></div>
        <div class="pie_chart mb-20">
          <pie-chart></pie-chart>
        </div>
        <div class="dark-min-font font-bold mb-20"><%= __('token-price') %></div>
        <div class="lighter-min-font mb-20"><%= __('dor-btc') %></div>
        <div class="lighter-min-font mb-30">(<%= __('min-purchase') %>)</div>
        <div class="lighter-min-font mb-20"><%= __('dor-eth') %></div>
        <div class="lighter-min-font mb-30">(<%= __('min-purchase-eth') %>)</div>
        <div class="dark-min-font font-bold mb-20"><%= __('amount') %></div>
        <div class="lighter-min-font mb-20">
          <span><%= __('token-sale') %></span>
        </div>
        <div class="lighter-min-font">
            <span><%= __('token-issued') %></span>
        </div>
      </div>
    </div>
    <div class="home_phone_section phone_ico">
      <div class="small-title"><%= __('home.ico.date') %></div>
      <div class="phone_ico_content">
        <img src="/images/home/table_ico_mobile_en_3x.png" alt="">
      </div>
    </div>
    
  </div>
  <%- include ../partials/inquiry %> 
</section>

<div id="sliderBar">
  <div class="sliderBar">
    <div class="schedule"></div>
  </div>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
