<div class="terms">
  <div class="bg_terms">
    <span class="terms_name">
      <%- __('terms-name_1') %>
        <br>
        <%- __('terms-name_2') %>
    </span>
  </div>
  <div class="terms_content">
    <div class="dark-smail-title-font">
      <%- __('terms-title.0') %>
    </div>
    <div class="body-small-font terms_notice">
      <%- __('terms-notice.0') %>
        <br>
        <%- __('terms-notice.1') %>
    </div>
    <div class="dark-smail-title-font">
      <%- __('terms-title.1') %>
    </div>
    <div class="body-small-font terms_notice">
      <%- __('terms-notice.2') %>
    </div>
    <div class="dark-smail-title-font">
      <%- __('terms-title.2') %>
    </div>
    <div class="body-small-font terms_notice">
      <%- __('terms-notice.3') %>
    </div>
    <div class="dark-smail-title-font">
      <%- __('terms-title.3') %>
    </div>
    <div class="body-small-font terms_notice">
      <%- __('terms-notice.4') %>
    </div>
    <div class="dark-smail-title-font">
      <%- __('terms-title.4') %>
    </div>
    <div class="body-small-font terms_notice">
      <%- __('terms-notice.5') %>
    </div>
    <div class="dark-smail-title-font">
      <%- __('terms-title.5') %>
    </div>
    <div class="body-small-font terms_notice">
      <%- __('terms-notice.6') %>
    </div>
    <div class="dark-smail-title-font">
      <%- __('terms-title.6') %>
    </div>
    <div class="body-small-font terms_notice">
      <%- __('terms-notice.7') %>
    </div>
    <div class="dark-smail-title-font">
      <%- __('terms-title.7') %>
    </div>
    <div class="body-small-font terms_notice">
      <%- __('terms-notice.8') %>
    </div>
    <div class="dark-smail-title-font">
      <%- __('terms-title.8') %>
    </div>
    <div class="body-small-font terms_notice">
      <%- __('terms-notice.9') %>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
