<div id="account-overview" v-cloak>
    <div class="account_tabs">
      <span class="tab" @click="checkMyPage()" :class="[ myPageEnabled ? '_active' : '']">
        <!-- <input type="radio" name="choice" v-bind:value="currencyBTC" id="my_page" autocomplete="off"> -->
        <%= __('my-page') %>
      </span>
      <span class="tab" @click="checkBuyToken()" :class="[ buyTokenEnabled ? '_active' : '']">
        <!-- <input type="radio" name="choice" v-bind:value="currencyBTC" id="buy_token" autocomplete="off"> -->
        <%= __('buy-token') %>
      </span>
      <span class="tab" @click="checkEdit()" :class="[ editEnabled ? '_active' : '']">
        <!-- <input type="radio" name="choice" v-bind:value="currencyBTC" id="edit" autocomplete="off"> -->
        <%= __('edit') %>
      </span>
    </div>

    <!-- My Page -->
    <div class="my_page" v-if="myPageEnabled">
      <div class="fullName dark-main-heading-font">{{me.fullName}}</div>
      <div class="my_page_card d-flex justify-content-between">
        <div class="profile">
          <div class="card_top"><%= __('profile') %></div>
          <div class="card_content">
            <div class="dark-heading-font mb-10"><%= __('nick-name') %></div>
            <div class="lighter-heading-font mb-20">{{me.fullName}}</div>
            <div class="dark-heading-font mb-10"><%= __('email') %></div>
            <div class="lighter-heading-font mb-20">{{me.emailAddress}}</div>
            <div class="dark-heading-font mb-10"><%= __('wallet-address') %></div>
            <div class="lighter-heading-font mb-20">{{me.walletAddress ? me.walletAddress : '-'}}</div>
            <div class="dark-heading-font mb-10"><%= __('referral-email') %></div>
            <div class="lighter-heading-font">{{me.referralEmailAddress ? me.referralEmailAddress : '-'}}</div>
          </div>
        </div>
        <div class="token">
          <div class="card_top"> <%= __('token') %></div>
          <div class="card_content">
            <div class="dark-heading-font mb-10"><%= __('token-purchase') %></div>
            <div class="lighter-heading-font mb-20">{{walletData.wallet.length > 0 ? walletData.wallet[0].tokenPurchased : '0'}} <%= __('DOR') %></div>
            <div class="dark-heading-font mb-10"><%= __('token-to-be-transfer') %></div>
            <div class="lighter-heading-font mb-20">{{walletData.wallet.length > 0 ? walletData.wallet[0].tokenToBeTransferred : '0'}}
                <%= __('DOR') %></div>
            <div class="dark-heading-font mb-10"><%= __('token-in-user-wallet') %></div>
            <div class="lighter-heading-font mb-20">{{walletData.wallet.length > 0 ? walletData.wallet[0].tokenInUserWallet : '0'}}
                <%= __('DOR') %></div>
            <div class="text-center mb-20"><a class="small-button" href="javascript:;" @click="checkBuyToken()"><%= __('buy-token') %></a></div>
            <div class="dark-heading-font mb-20"><%= __('token-price') %></div>
            <div class="lighter-heading-font mb-20"> <%= __('dor-btc') %><br>
              (<%= __('min-purchase') %>)</div>
            <div class="lighter-heading-font"><%= __('dor-eth') %></div>
          </div>
        </div>
        <div class="bonus">
          <div class="card_top"><%= __('bonus') %></div>
          <div class="card_content">
            <div class="dark-heading-font mb-10"><%= __('personal-bonus') %></div>
            <div class="lighter-heading-font mb-20">{{walletData.wallet.length > 0 ? walletData.wallet[0].bonusPreSale : '0'}}
                <%= __('DOR') %></div>
            <div class="dark-heading-font mb-10"><%= __('referral-bobus') %></div>
            <div class="lighter-heading-font">{{walletData.wallet.length > 0 ? walletData.wallet[0].bonusReferral : '0'}}
                <%= __('DOR') %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="buy_token" v-if="buyTokenEnabled">
      <%- include ../purchase/purchase-request %>
    </div>

    <div class="edit" v-if="editEnabled">
      <div class="edit_content">
        <div class="large-title"><%= __('my-account') %></div>
          <div>
            <div class="d-md-flex justify-content-md-between">
              <div class="person_info">
                <div class="dark-smail-title-font"><%= __('personal-info')%></div>
                <div class="nick d-md-flex">
                  <div class="nick_label dark-heading-font"><%= __('nick-name') %></div>
                  <div class="lighter-heading-font">{{me.fullName}}</div>
                </div>
                <div class="email d-md-flex">
                  <div class="email_label dark-heading-font"><%= __('email') %></div>
                  <div class="lighter-heading-font ">{{me.emailChangeCandidate ? me.emailChangeCandidate : me.emailAddress}}</div>
                </div>
              </div>
              <div class="">
                <a class="small-button phone-button edit_btn" href="/account/profile"><%= __('edit-profile') %></a>
              </div>
            </div>
            <div class="d-md-flex justify-content-md-between">
              <div class="dark-smail-title-font personal_paw"> <%= __('password') %></div>
              <div class="">
                <a class="small-button phone-button change_btn" href="/account/password"><%= __('change-password') %></a>
              </div>
            </div>
          </div>
      </div>
    </div>
</div>
<!--End section-->


<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
