<div id="forgot-password" v-cloak>
  <div class="container">
    <div class="common-container">
      <div class="row">
        <div class="col-md-10 offset-md-1">

          <div class="services-section common section-title title">
            <h1 class="text-center">
              <%- __('recover-password') %>
            </h1>
          </div>

          <div class="forgot-form" v-if="!cloudSuccess">
            <p class="text-center">
              <%- __('forget-password-message') %>
            </p>
            <hr/>
            <ajax-form action="sendPasswordRecoveryEmail" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()"
              :handle-parsing="handleParsingForm">
              <div class="form-group">
                <input type="email" name="email-address" class="form-control dark-control" placeholder="sturgeon@example.com" :class="[formErrors.emailAddress ? 'is-invalid' : '']"
                  v-model.trim="formData.emailAddress" focus-first>
                <div class="invalid-feedback" v-if="formErrors.emailAddress">
                  <%- __('enter-a-valid-email-address') %>
                </div>
              </div>
              <p class="text-danger" v-if="cloudError">
                <small>
                  <%- __('error.systemerror') %>
                </small>
              </p>
              <div class="form-group">
                <ajax-button type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block">
                  <%- __('send-reset-link') %>
                </ajax-button>
              </div>
            </ajax-form>
            <p class="text-center">
              <a href="/login">
                <%- __('back-to-login') %>
              </a>
            </p>
          </div>

          <div class="alert alert-info col-md-8 mx-auto" v-if="cloudSuccess">
            <i class="fa fa-info-circle fa-1x"></i>
            <p>
              <%- __('sent-update-link') %>
                <br />
                <%- __('notice-check-spam') %>
                  <br />
                  <br />
                  <a class="btn btn-outline-primary" href="/login">
                    <%- __('back-to-login') %>
                  </a>
            </p>
          </div>

        </div>
        <!--end col-->
      </div>
      <!--end row-->

    </div>
    <!--End-commen-containe-->

  </div>
  <!--End-container-->
</div>
<!--End section-->

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>