<div id="new-password" v-cloak>
  <div class="container">
      <div class="common-container">
        <div class="row">
          <div class="col-md-10 offset-md-1">

              <div class="services-section common section-title title">
                  <h1 class="text-center"><%- __('reset-password') %></h1>
                </div>


              <!-- <div class="new-password-form"> -->
                  <div class="login-form-container">
                <hr/>
                <ajax-form action="updatePasswordAndLogin" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
                  <div class="form-group">
                    <label for="password"><%= __('new-password') %></label>
                    <input class="form-control" id="password" name="password" type="password"  :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" placeholder="••••••••" focus-first>
                    <div class="invalid-feedback" v-if="formErrors.password"><%= __('enter-new-password') %></div>
                  </div>
                  <div class="form-group">
                    <label for="confirm-password"><%= __('confirm-password') %></label>
                    <input class="form-control" id="confirm-password" name="confirm-password" type="password"  :class="[formErrors.confirmPassword ? 'is-invalid' : '']" v-model.trim="formData.confirmPassword" placeholder="••••••••">
                    <div class="invalid-feedback" v-if="formErrors.confirmPassword"><%= __('password-not-match') %></div>
                  </div>
                  <p class="text-danger" v-if="cloudError"><small><%- __('error.systemerror') %></small></p>
                  <div class="form-group">
                    <ajax-button type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block">Submit</ajax-button>
                  </div>
                </ajax-form>
                <p class="text-center"><%- __('remember-your-password') %></p>
              </div>
          </div>
        </div><!--row-->
      </div><!--common-container-->
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
