<div class="header">
  <div class="header-container">
    <nav class="navbar navbar-expand-md">
      <a class="header-pc-logo" href="/#home"></a>
      <div class="small-navbar d-flex w-100 align-items-center justify-content-between">
        <a class="header-phone-logo" href="/#home"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav drawer-style">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:;" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"><%= __('lang') %></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/en">ENGLISH</a>
              <a class="dropdown-item" href="/zh">繁體中文</a>
            </div>
          </li>
          <li class="nav-item ml-md-auto">
            <a class="nav-link" target="_blank" href="/pdfs/<%= __('howtobuy-pdf') %>.pdf">
              <%= __('common.menu.how-to-buy') %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="/faq">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="/pdfs/<%= __('whitepaper-pdf') %>.pdf">
              <%= __('common.menu.white-paper') %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link contact" href="/#inquiry">
              <%= __('common.menu.contact') %></a>
          </li>
            <% if(me) { %>
            <% if(me.emailStatus == 'confirmed') { %>
            <li class="nav-item">
              <a href="/account" class="nav-link">
                <%= __('common.menu.my-page') %></a>
            </li>
            <li class="nav-item auth">
              <a href="/logout" class="header-button sign-out">
                <%= __('common.menu.sign-out') %>
              </a>
            </li>
            <% } %>
            <% } else { %>
            <li class="nav-item auth">
              <a href="/login" class="small-button login-button">
                <%= __('common.menu.login') %>
              </a>
              <a href="/signup" class="small-button sign-up-button">
                <%= __('common.menu.signup') %>
              </a>
            </li>
            <% } %>
        </ul>
      </div>
    </nav>
  </div>
</div>

<!-- <nav class="navbar navbar-expand-md">
      <div class="container-fluid">
    
        <div class="navbar-header">
          <a class="navbar-brand logo dark-logo" href="/#home">
            <img src="/images/dor_coin_logo_1.png" width="120" alt="DORA Coin" id="desktop-logo" />
            <img src="/images/dor_coin_logo.png" width="120" alt="DORA Coin" id="mobile-logo" />
          </a>
          <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
    
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="nav navbar-nav dark-nav" id="menu">
         
            <% if(me) { %>   
              <% if(me.emailStatus == 'confirmed') { %> 
              <li class="nav-item"><a href="/account" class="nav-link"><%= __('common.menu.my-page') %></a></li>
              <li class="nav-item"><a href="/logout" class="nav-link"><%= __('common.menu.sign-out') %></a></li>
              <% } %>
            <% } else { %>
              <li class="nav-item"><a href="/signup" class="nav-link"><%= __('common.menu.signup') %></a></li>
              <li class="nav-item"><a href="/login" class="nav-link"><%= __('common.menu.login') %></a></li>
            <% } %>
            <li class="nav-item"><a href="/pdfs/<%= __('whitepaper-pdf') %>.pdf" class="nav-link"><%= __('common.menu.white-paper') %></a></li>
            <li class="nav-item"><a href="/pdfs/<%= __('howtobuy-pdf') %>.pdf" class="nav-link"><%= __('common.menu.how-to-buy') %></a></li>
            <li class="nav-item"><a href="/faq" class="nav-link">FAQ</a></li>
            <li class="nav-item" data-menuanchor="contact"><a href="/#contact" class="nav-link"><%= __('common.menu.contact') %></a></li>
    
    
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Language
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" >English</a>
                <a class="dropdown-item" >繁體中文</a>
              </div>
            </li>
          </ul>
        </div>
    </div>
    </nav> -->
