<div id="homepage">
  <%- include ../partials/timer %>
  <%- include ../partials/token %>
  <%- include ../partials/purpose %>
  <%- include ../partials/schedule-roadmap %>
  <%- include ../partials/contact %>
</div>  
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
