
<section id = "homepage" v-cloak>    
        <%- include ../partials/timer %>
        <%- include ../partials/whatisdora %>
        <%- include ../partials/purpose %>  
        <%- include ../partials/token %>   
        <%- include ../partials/schedule %>   
        <div class="section contact flat-color7" id="inquiry">
        <%- include ../partials/inquiry %> 
        </div>
</section>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
